/* selecttor especial asterisco */
* {
    /* a todos los elemntos */
    border: 1px dotted red;
}

html {
    /* font-size: 10px; */
    /* valor por defecto del font-size es 16px */
}

header {
    /* width: 300px; */
    height: 200px;
    max-width: 300px
}

h1 {
color: red;
/* cuando usamos % utilizara como referencia el contenedor padre */
width: 50%;
}

p {
    /* rem: hace referencia al contenedor mas lejano */
    font-size: 1rem;
    padding: 1rem;
}

section {
    font-size: 30px;
    width: 350px;
}

/* em: hace referencia al contenedor mas cercano */

h3 {
    font-size: 0.5em;
    padding: 1em;
}

h2 {
    /* hexadecimal */
    /* color:#RRGGBB */
    /* menor 0 ----> F mayor */
    /* color:#FF0000; */
    /* color: #00ff00; */
    /* color: #0000ff; */
    color: #ff55ff;
}

h3 {
    /* 0-255 */
    /* color: rgb(45,200, 141); */
    /* color: rgba (r, g, b, a [0-1]); */
    color: rgba(45, 200, 141, 0.5);
}

/* hue, saturation, lightness */
/* matiz, saturacion, iluminacion */
/* grados, porcentaje, porcentaje */

p {
    background-color: hsl(90, 90%, 30%);
}

